<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="emp.css">
	<title>Attendance Employee</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database</h1>

		<body bgcolor="lightgrey">
            <table>
                <tr>
                    <td>Check In</td><td>Check Out</td>
                </tr>
                <tr>
                    <td>{{ cin }}</td><td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            <form action="http://3.134.115.108:80/" autocomplete="on" method = "GET">

                <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>

            </form>
		</body>

	</font>
</center>
</html>
